/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

/*$enable-font-awesome: dynamic(true);

$base-color: lighten(#ff2020, 10%);
$background-color: lighten(yellow, 48%);
$font-family: dynamic(calibri);
$checkboxfield-checkbox-color: lighten(red, 10%);*/